COMPOSE_PROJECT_NAME=kdd-agentic-factory
RACE_DASHBOARD_PORT=8090
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
POSTGRES_USER=race
POSTGRES_PASSWORD=race
POSTGRES_DB=race_command_center
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
QDRANT_PORT=6333
REDPANDA_BROKER_PORT=9092
OTEL_COLLECTOR_PORT=4317
GOVERNANCE_PORT=8200
AGENT_ORCHESTRATOR_REPO_PORT=8210
MCP_GATEWAY_REPO_PORT=8220
KNOWLEDGE_LAYER_REPO_PORT=8230
SKILLS_REGISTRY_REPO_PORT=8240
DOCUMENTATION_AGENT_REPO_PORT=8250
KDD_PIPELINES_REPO_PORT=8260
AGENTIC_WORKFLOWS_PORT=8270
EXPERIMENTATION_LAB_PORT=8280
OBSERVABILITY_REPO_PORT=8290
INFRA_DOCKER_REPO_PORT=8300
INFRA_KUBERNETES_REPO_PORT=8310
CI_CD_SECURITY_REPO_PORT=8320
UI_COMMAND_CENTER_PORT=8330
PAPER_REPRODUCIBILITY_PORT=8340
